@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* header design */
header{
    background-color: #1A0B2E;
    width: 100%;
    /* max-width: 1600px; */
    height: 92px;
    align-content: center;
    margin: 0 auto;
}
#nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}
.nav-logo{
    font-weight: bold;
    font-size: 35px;
    color: #ffffff;
    font-weight: 600px;
}
.nav-logo span{
    color: #A60295;
}
.nav-menu{
    display: flex;
    gap: 32px;
}
.nav-menu p{
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    font-weight: 500px;
}
.nav-btn{
    width: 135px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600px;
    background-color: oklch(59.1% 0.293 322.896);
    padding: 12px 16px;
    display: flex;
    gap: 4px;
    border-radius: 50px;
    border: none;
}

/* body hr{
    border: none;
    border-top: 3px dotted #ffffff26;
    width: 75%;
    margin: 0 auto;
   
} */

/* banner design */
.banner-container{
    background-image: url(../Images/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
    /* max-width: 1600px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto auto;
}
.banner-container .banner{
    max-width: 550px;
    height: 558px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.banner-logo{
    width: 350px;
    height: 350px;
    background-image: url(../Images/hero-circle.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: flex;
    /* justify-content: center; */ 
    margin: 0 auto;
    align-items: center;
}
#microphone{
    margin-top: 70px;
}

.banner h1{
    font-size: 60px;
    font-weight:800px;
    color: #ffffff;
    margin-top: 40px;
}
.banner p{
    font-size: 16px;
    color: #ffffff7e;
    margin-top: 8px;
    margin-bottom: 24px;
}
.banner-info .btn-container{
    display: flex;
    justify-content: center;
    gap: 8px;
}
#shopify{
    font-size: 16px;
    font-weight: 600px;
    width: 201px;
    height: 44px;
    color: #ffffff;
    background-color:  #A60295;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#message{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600px;
    width: 174px;
    height: 44px;
    color: #00FF88;
    padding: 12px 20px;
    border-radius: 20px;
    border: 2px solid #00FF88;
    background: transparent;
    gap: 8px;
}



/* podcast-section design */

.podcast-container{
    width: 100%;
    height: 650px;
    background-color: #1A0B2E;
    /* max-width: 1600px; */
}
.podcast-info{
    justify-content: space-between;
    align-content: center;
    text-align: center;
    width: 75%;
    max-width: 1200px;
    height: 235px;
    margin: 0 auto;
    margin-bottom: 80px;
    /* margin-top: 50px; */
}
 .podcast-info h1{
    font-size: 48px;
    font-weight:bold;
    color: #ffffff;
    margin-bottom: 30px;
    line-height: 30px;
}
.podcast-info p, .podcast-number p{
    font-size: 16px;
    color: #ffffff7e;
    margin-bottom: 24px; 
    line-height: 20px;
} 
.podcast-container hr{
    border: none;
    border-top: 3px dotted #ffffff26;
    width: 75%;
    margin: 0 auto;
}
.podcast-number{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 120px;
    /* margin: 80px 200px 120px 200px; */
    width: 75%;
    max-width: 1180px;
    height: 94px;

}
.podcast-number h1{
    font-size: 48px;
    font-weight:bold;
    font-size: 48px;
    font-weight:bold;
    color: #00ff88;
}